# Auto detect text files and perform LF normalization
* text=auto

# Treat PDF files as binary to prevent CRLF conversion on Windows
*.pdf binary

/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/.scrutinizer.yml export-ignore
/.github export-ignore
/CONTRIBUTING.md export-ignore
/dev-tools export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/phpunit-windows.xml export-ignore
/samples export-ignore
/doc export-ignore
/tests export-ignore
/Makefile export-ignore
/alt_autoload.php-dist export-ignore
