includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 3
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
